html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1028px) {
  .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 1em;
}

details:nth-child(1) {
  background-color: #f381;
}
details:nth-child(2) {
  background-color: #83f1;
}
details:nth-child(3) {
  background-color: #0d31;
}
summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  background-color: #b3b1;
  cursor: pointer;
}
details[open] {
  padding: 0.5em;
}
details[open] summary {
  margin-bottom: 0.5em;
}

.card {
  background-color: white;
  border-bottom: 1px dashed gray;
  margin: 0.5rem 0;
}
.card:last-child {
  border-bottom: none;
}

@media print {
  .no-print,
  .no-print * {
    display: none;
  }
}
